---
import logo from '../assets/logo.png';
---

	 <header>
      <div class="logo-container"><img src={logo.src} alt="Mandala logo"/><h1>PORTFOLIO</h1></div>
	  <a class="contact-cta" href="mailto:lloydsibson2019@gmail.com"><h3>CONTACT</h3></a>
	 </header>
	<main>
		<section>
			<div class="iframe-container">
				<div class="responsive-iframe"><iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1931270211&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe></div>
        <div class="responsive-iframe"><iframe src="https://www.youtube.com/embed/s4b12pSFZsQ?si=o0M4wx75aKgT9G11" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
			</div>

			<div class="Information-container">
				<div class="Information-container__card">
					<h2>About Me</h2>
					<p>I have several years of professional studio and gigging experience. Played alongside such high profile bands as ‘Monuments’ and ‘Our Hollow Our Home’.</p>
				</div>
				<div class="Information-container__card">
					<h2>Inspirations</h2>
					<h4>Post-Hardcore, Pop Punk, Metalcore, Alt Rock</h4>
					<p>Bring Me Horizon, Of Mice & Men, Blessthefall, The Devil Wears Prada, Coldrain, A Day to Remember, Memphis May Fire, System of a Down, Dayseeker, I Prevail, Good Charlotte, Three Days Grace, Breaking Benjamin, Silverstein, I See Stars, Failing in Reverse, Atreyu, Beartooth and many more...</p>		</div>
				<div class="Information-container__card">
					<h2>Gear</h2>
					<ul>
						<li>Customised LTD EC1000T Guitar (White)</li>
            <li>LTD EC 154 Bass Guitar (White)</li>
						<li>Kemper</li>
						<li>Various Cabs (Mesa, Orange, Marshall)</li>
						<li>In-Ear Monitors / Guitar Wireless System</li>
					</ul>
				</div>
			</div>        
		</section>
	</main>
	<!-- <footer>
		<p>© Lloyd Sibson | All rights reserved</p>	
	</footer>	 -->


<style>
@font-face {
  font-family: 'Poppins-Regular';
  src: url('../../public/fonts/Poppins-Regular.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Semibold';
  src: url('../../public/fonts/Poppins-Semibold.ttf') format('ttf');
  font-display: swap;
}

/*! 
https://serp.co/tools/css-reset/
<link rel="stylesheet" href="https://css.serp.co/css-reset/normalize.css/">
*/

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

 html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

p, li {
font-family: 'Poppins-Regular', sans-serif;
line-height: 26px;
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Poppins-Semibold', sans-serif;
line-height: 26px;
}

  body {
  font-size: 16px;
  background: rgb(28,26,39);
  background-repeat: no-repeat;
  background-size: cover;
/* background: -moz-linear-gradient(180deg, rgba(28,26,39,1) 50%, rgba(61,22,53,1) 63%, rgba(128,19,87,1) 69%, rgba(184,35,90,1) 75%, rgba(231,98,125,1) 81%, rgba(226,201,204,1) 88%, rgba(221,220,215,1) 100%);
background: -webkit-linear-gradient(180deg, rgba(28,26,39,1) 50%, rgba(61,22,53,1) 63%, rgba(128,19,87,1) 69%, rgba(184,35,90,1) 75%, rgba(231,98,125,1) 81%, rgba(226,201,204,1) 88%, rgba(221,220,215,1) 100%); */
background-image: linear-gradient(180deg, rgba(28,26,39,1) 50%, rgba(61,22,53,1) 63%, rgba(128,19,87,1) 69%, rgba(184,35,90,1) 75%, rgba(231,98,125,1) 81%, rgba(226,201,204,1) 88%, rgba(221,220,215,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1c1a27",endColorstr="#dddcd7",GradientType=1);
background-attachment: fixed;
  }

  header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 50px;
	padding: 16px;
	max-width: 1920px;
	margin: 0 auto 75px auto;
  }

  .logo-container {
	display: flex;
	align-items: center;
  }

  .logo-container h1 {
	color: #fff;
	font-size: 1.25rem;
  }

  .logo-container img {
	margin-right: 16px;
	max-width: 55px;
  }

  .contact-cta {
	background-color: #fff;
	padding: 7px 25px;
	text-decoration: unset;
	border-radius: 100px;
	color: #000;
  }

  .contact-cta h3 {
	margin: unset;
	color: #000;
	font-size: .9rem;
  }

  main {
	padding: 0 16px;
  }

  main section {
	display: flex;
	align-items: flex-start;
	max-width: 1300px;
	width: 100%;
	margin: 0 auto;
	gap: 2rem;
  }

  .iframe-container {
	display: flex;
	flex-direction: column;
gap: 2rem;
  }

  .iframe-container, .Information-container {
	width: 50%;
  }

.responsive-iframe {
	display: flex;
  width: 100%;
  aspect-ratio: 16 / 9; /* Adjust for your aspect ratio */
}

.responsive-iframe iframe {
  width: 100%;
  height: 100%;
  max-width: 634px;
}

.Information-container {
	display: flex;
	flex-direction: column;
}

.Information-container__card {
	background-color: rgba(0,0,0, 0.75);
	border-radius: 10px;;
	padding: 20px;
	margin-bottom: 1.5rem;
	max-width: 595px;
	width: calc(100% - 40px);
}

.Information-container__card:last-child{
	margin-bottom: 3rem;
}

.Information-container__card h2 {
	margin-top: unset;
}

.Information-container__card p, .Information-container__card ul {
	margin-bottom: unset;
}

.Information-container__card h2, .Information-container__card p, .Information-container__card h4, .Information-container__card li {
color: #fff;
}

  footer {
	position: relative;
	bottom: 0;
	background-color: #000;
	margin-top: 2rem;
	width: 100%;
	left: 0;
  }

  footer p {
	color: #fff;
	margin: unset;
	font-size: .9rem;
	padding: 10px 16px;
  }

  @media (max-width: 1350px) {
    header {
		margin-bottom: 25px;
	}

	main section {
	flex-direction: column;
  }
  .logo-container h1 {
	font-size: .9rem;
  }
  .iframe-container, .Information-container {
	width: 100%;
  }
  .Information-container, .responsive-iframe {
	align-items: center;
	justify-content: center;
  }
  }

  @media (max-width: 319px) {
  .logo-container h1 {
	display: none;
  }
  }

</style>
